ul {
  list-style: none;
}

.logo-bx {
  background-color: #ffffff;
}

.logo-bx ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

span#toggleIcon {
  font-size: 30px;
  padding: 0 5px;
  cursor: pointer;
  color: #333;
}

.logo-bx li.logo-img img {
  width: 200px;
}


header.navbar {
  position: sticky;
  top: 0;
  right: auto;
  padding: 21px 20px 20px 20px;
  background: #079f44;
  z-index: 999;
  border-radius: 0;
  margin-bottom: 0;
  transition: none;

}

.hed-user ul.navg {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  list-style: none;
}

.hed-user {
  float: right;
}

.navg .search-icon {
  position: absolute;
  top: 37%;
  left: 73%;
}

.hed-user ul a {
  color: var(--white-color);
  font-size: 16px;
  text-decoration: none;
}

.hed-user ul.navg li.notif-bx img {
  width: 32px;
}

.navbar {
  display: block;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #d3d2d2
}

.srch-bx {
  float: left;
}

.hed-user {
  float: right;
}

.user ul.dropdown-menu {
  padding: 10px;
}

.user ul.dropdown-menu a,
form {
  color: var(--h3-color);
  border-radius: 3px;
  font-size: 14px;
}

.user ul.dropdown-menu a i {
  color: #ef5e67;
  font-size: 16px;
}

.user ul.dropdown-menu li i {
  color: #ef5e67;
  font-size: 16px;
}

.user ul.dropdown-menu .log-out {
  padding-left: 19px;
}

.user ul.dropdown-menu a:hover {
  background: #6998f896;
  color: #fff;
}

.sidebar ul li.nav-item.active {
  opacity: 50%;
}
.logout-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 19px;
  padding-top:3.5px;
  padding-bottom: 4px;
}
.sidebar {
  width: 300px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: width 0.05s cubic-bezier(0.37, -0.25, 0, 1.16);
  z-index: 99;
}

.sidebar .menu-bx {
  padding: 15px 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sidebar .menu-bx li {
  margin: 10px 0;
}

.sidebar .menu-bx li a {
  color: var(--white-color);
  z-index: 1;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
  transition: none;
}

.sidebar .menu-bx li a:hover,
.sidebar .menu-bx li a.active {
  opacity: 0.6;
}

.sidebar .menu-bx li a img {
  width: 35px;
  object-fit: contain;
}

.sidebar .menu-bx li a img {
  flex: 0 0 10%;
  object-fit: contain;
}

.sidebar .nav-link:focus-visible {
  outline: 0;
  box-shadow: none;
}

.sidebar .logo-bx {
  padding: 29px 40px;
}

/* main content */

section.home-section {
  position: relative;
  background-color: #fff;
  min-height: 100vh;
  top: 0;
  left: 300px;
  width: calc(100% - 300px);
  transition: none;
  z-index: 2;
}


main.content {
  padding-top: 1.5rem;
  /* min-height: 100vh; */
}

main.content .title h1 {
  font-size: 40px;
  font-weight: 400;
  color: var(--h3-color);
  border-bottom: 2px solid #3b4347;
}
main.content .title h2 {
  font-size: 40px;
  font-weight: 400;
  color: var(--h3-color);
  border-bottom: 2px solid #3b4347;
}
main.content .title h3 {
  font-size: 40px;
  font-weight: 400;
  color: var(--h3-color);
  border-bottom: 2px solid #3b4347;
}

main.content .card {
  background: linear-gradient(124deg,
      #0f4fa1 0%,
      #f25e64 96.51%,
      #f25e64 96.51%);
  border: none;
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

main.content .invc-crd .card-title {
  margin-bottom: 20px;
}

main.content .invc-crd .card-title a {
  padding: 0;
  font-size: 24px;
  color: var(--white-color);
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}

main.content .invc-crd .card-title a i {
  padding: 5px 11px 5px;
  background: var(--white-color);
  line-height: 22px;
  border-radius: 50%;
  font-size: 22px;
  color: #0f4fa1;
  transition: all 0.5s ease-in-out;
}

main.content .invc-crd .card-title a:hover i {
  transform: translateX(6px);
}

.invoice-count span {
  font-size: 45px;
  font-weight: 500;
  color: #fff;
}

.srch-bx input[type="text"] {
  width: 400px;
  padding: 10px 22px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 300;
}

.srch-bx form {
  position: relative;
}

.srch-bx form button {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  border: none;
  background: none;
}

.notification {
  position: relative;
  display: inline-block;
}

.notification .number {
  height: 24px;
  width: 24px;
  background-color: #d63031;
  border-radius: 20px;
  color: white;
  text-align: center;
  position: absolute;
  top: -11px;
  left: 11px;
  border-style: solid;
  border-width: 2px;
}

.notification .number:empty {
  display: none;
}

.notification .notBtn {
  transition: 0.5s;
  cursor: pointer;
}

.notification .fas {
  font-size: 23pt;
  padding: 0;
  color: rgb(255, 255, 255);
}

.notification .notBtn:hover>.box {
  height: 60vh;
}

.notification .top {
  color: black;
  padding: 10px;
}

.notification .display {
  position: relative;
}

.notification .cent {
  text-align: center;
  display: block;
}

.notification .sec {
  padding: 2px 10px;
  background-color: #ffffff;
  transition: 0.5s;
}

.notification .dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -215px;
  margin-top: 10px;
  height: auto;
  /* overflow-y: scroll; */
}

.notification .txt {
  vertical-align: top;
  padding: 0px;
  color: #000000;
  justify-content: space-between;
  display: flex;
}

.notification .sub {
  font-size: 1rem;
  color: grey;
}

.notification .new {
  border-bottom: 1px solid red;
}

.notBtn .view {
  color: #0f4fa1;
  /* border: 1px solid #dadada; */
  text-align: center;
  font-weight: 500;
}

.dropdown-toggle::after {
  opacity: 0;
}

.fixed-view-all {
  position: sticky;
  /* Use sticky positioning */
  bottom: 0;
  /* Keep it at the bottom */
  background-color: white;
  /* Match the background color of the dropdown menu */
}

.dropdown li.cross {
  display: flex;
  justify-content: space-between;
  padding: 0px 14px;
  font-size: 20px;
}

.sidebar p {
  font-size: 20px;
  /* padding-top: 9px; */
}

.sidebar.close {
  width: 80px;
  opacity: var(--primary-color);
  /* Assuming this controls the opacity */
  text-align: center;
  z-index: 99;
}

.sidebar.close p {
  display: none;
}

.logo-bx .sidebar.close {
  width: 84px;
}

.sidebar.close+.main-content {
  margin-left: 84px !important;
  width: calc(100% - 84px) !important;
}


/* sidbar css */

.sidebar.close~.home-section {
  left: 80px;
  width: calc(100% - 80px);
}
.side.close .short-logo{
  display: block;
}
.sidebar.close:hover {
  opacity: 1;
}

.sidebar.close .logo-bx {
  padding: 31px 25px;
}

.sidebar.close .menu-bx {
  padding: 15px 28px;
}


.sidebar.close span.logo-img,
.sidebar.close .menu-bx li a span {
  display: none;
}

@media screen and (max-width: 992px) {
 

  .sidebar.close {
    height: 93px;
  }

  .sidebar.close .logo-bx {
    background: transparent;
  }

  .sidebar.close ul.menu-bx {
    display: none !important;
  }

  .sidebar.close .collapseToggle {
    padding: 10px 18px 8px;
    background: #fff;
    border-radius: 8px;
  }

  .sidebar.close span.logo-img {
    display: block;
  }

  .sidebar.close .menu-bx {
    padding: 15px 26px;
  }

  .sidebar.close .logo-bx {
    padding: 19px 22px;
  }

  section.home-section,
  .sidebar.close~.home-section {
    left: 0;
    width: 100%;
  }
}


@media screen and (max-width: 650px) {
  main.content .title h3 {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .sidebar {
    width: 258px;
  }

  .sidebar .logo-bx {
    padding: 21px 20px;
  }

  span#toggleIcon {
    font-size: 20px;
  }

  .sidebar .collapseToggle {
    align-items: baseline;
  }

  .sidebar .menu-bx {
    padding: 15px 20px;
  }

  .sidebar .menu-bx li a {
    font-size: 18px;
  }

  .sidebar.close {
    height: 78px;
  }

  .sidebar .menu-bx li {
    margin: 10px 0;
  }

  .sidebar .menu-bx li a img {
    width: 30px;
    object-fit: contain;
  }

  .sidebar.close span#toggleIcon {
    padding: 0 !important;
  }

  .sidebar.close .logo-bx {
    padding: 19px 12px;
  }

  .sidebar.close .collapseToggle {
    padding: 8px;
    background: #fff;
    border-radius: 6px;
    align-items: center;
  }

  .sidebar.close span.logo-img img {
    width: 110px;
    margin-left: 10px;
  }

  header.navbar {
    padding: 19px 6px 18px 10px;
  }

  .hed-user ul a {
    font-size: 14px;
  }

  .notification .fas {
    margin-top: 5px;
    font-size: 15pt;
  }

  .notification .number {
    height: 18px;
    width: 18px;
    top: -10px;
    left: 12px;
    border-width: 1px;
    font-size: 11px;
    padding: 1px 2px 0 0;
  }

  .navbar ul.navg .avatar {
    width: 40px;
    height: 40px;
  }

  main.content .title h1 {
    font-size: 24px;
  }
  main.content .title h2 {
    font-size: 30px;
  }
  main.content .title h3 {
    font-size: 22px;
  }
}
